
.container{
    height: 100vh;
    padding: 50px;
    .content-right {
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Thêm box shadow */
        padding: 10px 15px 10px 10px;
        border: 1px solid #efefef ;
        border-radius: 10px;
        .forgotPassword{
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
        .brand{
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 700;
            color: #2266ff;
        }
    }
    .content-left{
        padding-top:30px ;
        padding-left: 50px;
        .brand{
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 700;
            color: #2266ff;
        }
        .content{
            font-size: large;
        }
    }
    
}
.register-container{
    background-color: #eceff6;
}



@media only screen and (max-width: 576px) {
    .register-container{
        background-color: #fff;
    }
    .container{
        .content-right{
            box-shadow: none;
            border: white;
        }
      }
    }   